<section
  class="w-full h-screen flex flex-col justify-center items-center p-4 fixed bg-violet-900 bg-[url('https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?q=80&w=2053&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat"
>
  <div class="w-full max-w-[446px] h-fit z-10">
    <div
      class="w-full p-6 sm:p-8 rounded-2xl shadow-2xl border border-white/30 bg-white/60 backdrop-blur-xl"
    >
      <div class="flex flex-col mb-3">
        <h2 class="text-xl font-bold text-center">Registrate</h2>
        <p class="text-sm text-center text-gray-500 mt-1">
          Ingresá tu información para crear tu cuenta
        </p>
      </div>
      <div class="flex flex-col">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="flex flex-col my-2 sm:my-4">
            <label for="full_name" class="mb-2 text-sm font-medium"
              >Nombre completo</label
            >
            <input
              formControlName="full_name"
              type="text"
              class="input w-full text-sm"
              placeholder="Lucas Cabral"
              [class.input-error]="formUtils.isValidField(myForm, 'full_name')"
              [class.bg-red-100]="formUtils.isValidField(myForm, 'full_name')"
            />
            @if ( formUtils.isValidField(myForm, 'full_name') ) {
            <p class="text-xs text-red-600 mt-[4px]">
              {{ formUtils.getFieldError(myForm, "full_name") }}
            </p>
            }
          </div>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Rol</legend>
            <select class="select w-full" formControlName="role">
              <option value="" disabled selected>Seleccioná tu rol</option>
              <option value="ADMIN">ADMIN</option>
              <option value="DOCTOR">DOCTOR</option>
            </select>
            <p class="text-xs text-red-600 mt-[4px]">
              {{ formUtils.getFieldError(myForm, "role") }}
            </p>
          </fieldset>
          @if ( formUtils.isValidField(myForm, 'role') ) { }
          <div class="flex flex-col my-2 sm:my-4">
            <label for="email" class="mb-2 text-sm font-medium">Email</label>
            <input
              formControlName="email"
              type="email"
              class="input w-full text-sm"
              placeholder="Ejemplo@hotmail.com"
              [class.input-error]="formUtils.isValidField(myForm, 'email')"
              [class.bg-red-100]="formUtils.isValidField(myForm, 'email')"
            />
            @if ( formUtils.isValidField(myForm, 'email') ) {
            <p class="text-xs text-red-600 mt-[4px]">
              {{ formUtils.getFieldError(myForm, "email") }}
            </p>
            }
          </div>
          <div class="flex flex-col my-2 sm:my-4">
            <label for="password" class="mb-2 text-sm font-medium"
              >Password</label
            >
            <input
              formControlName="password"
              type="password"
              class="input w-full text-sm"
              placeholder="********"
              [class.input-error]="formUtils.isValidField(myForm, 'password')"
              [class.bg-red-100]="formUtils.isValidField(myForm, 'password')"
            />
            @if ( formUtils.isValidField(myForm, 'password') ) {
            <p class="text-xs text-red-600 mt-[4px]">
              {{ formUtils.getFieldError(myForm, "password") }}
            </p>
            }
          </div>
          <div class="mt-6 sm:mt-4 mb-3">
            <button
              type="submit"
              class="btn btn-neutral w-full"
              [disabled]="loadingRequest()"
            >
              Crear cuenta
            </button>
          </div>
        </form>
      </div>
      <div class="mt-2">
        <span class="text-sm text-neutral text-center block">
          ¿Ya tenés una cuenta?
          <a
            routerLink="/auth"
            class="underline hover:text-primary cursor-pointer"
          >
            Iniciá sesión
          </a>
        </span>
      </div>
    </div>
    <toast-component [toast]="toastStatusCode()" />
  </div>
</section>
